{% extends 'AdminLayout.html.twig' %}

{% block card_title %} Gestionaire : Tag <a class="text-right" href="#" data-toggle="modal" data-target="#form_modal"> <i class="now-ui-icons ui-1_simple-add"></i></a>{% endblock %}

{% block body %}

    <div class="table-responsive">
        <table class="table">
            <thead class=" text-primary">
            <tr>
                <th>
                    id
                </th>
                <th>
                    Nom
                </th>
                <th>
                    Etat
                </th>
                <th class="text-right">
                    Action
                </th>
            </tr></thead>
            <tbody id="liste">
            {% for data in datas %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.name }}</td>
                <td>
                    {% if data.etat %} <i class="now-ui-icons ui-1_check"></i> {% endif %}
                </td>
                <td class="text-right">
                    <a href="{{ path('Tag_Update', {id:data.id}) }}"> <i class="now-ui-icons ui-1_settings-gear-63"></i></a>
                    <a class="tag_delete_button" onclick="DepletedTag(this, event, '{{ data.name }}');" href="{{ path('Tag_delete',{id:data.id}) }}"> <i class="now-ui-icons ui-1_simple-remove"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block JS %}
    {{ parent() }}
    <script>

        $(document).ready(function () {
            if ({{ modal }} == 1){
                $('#form_modal').modal();
            }
        });

        function DepletedTag($this, e, $name) {
            console.log($this);
            e.preventDefault();
            var $link = $this.getAttribute('href');
            $('#text_modal').html("Voulez vous vraiment supprimer le tag : " + $name);
            $('#current_modal').modal('toggle');
            $('#valid_supr').click(function () {
                $('#liste').html('<td colspan="4"><img src="{{ asset('img/load.gif') }}" class="rounded mx-auto d-block" style="height: 50px;"></td>');
                $.ajax({
                    method: 'POST',
                    url:$link
                }).done(function (data) {
                    $('#liste').html(data);
                });
            });
        }

    </script>
{% endblock %}

{% block modal_body %}
    {{ form_start(form) }}
    <div class="modal-header">
        <h4 class="modal-title">Nouveau Tag</h4>
    </div>
    <div class="modal-body">
        {{ form_widget(form) }}
    </div>
    <div class="modal-footer">
        <button id="submit" name="submit" class="btn btn-success">Valider</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
