{% for data in datas %}
    <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.date|date("m/d/Y") }}</td>
        <td>{{ data.heart}}</td>
        <td>{% for tag in data.tags %} {{ tag.name}} {% endfor %}</td>
        <td>{{ data.photos|length}}</td>
        <td class="text-right">
            <a href="{{ path('Project_zoom',{'id' : data.id}) }}" class="zoom"> <i class="now-ui-icons ui-1_zoom-bold"></i></a>
            <a href=""> <i class="now-ui-icons ui-1_settings-gear-63"></i></a>
            <a href=""> <i class="now-ui-icons ui-1_media-1_camera-compact"></i></a>
            <a class="delete" onclick="DepletedTag(this, event, '{{ data.name }}');" href="{{ path('Project_remove', {'id':data.id}) }}"> <i class="now-ui-icons ui-1_simple-remove"></i></a>
        </td>
    </tr>
{% endfor %}