{% extends "AdminLayout.html.twig" %}

{% block css %}
    {{ parent() }}
    <link href="{{ asset('css/dropzone.css') }}" rel="stylesheet">
{% endblock %}

{% block card_title %} Gestionaire : Project <a  class="add_button text-right" href="{{ path('Project_Create') }}"> <i class="now-ui-icons ui-1_simple-add"></i></a>{% endblock %}

{% block body %}


    <div class="table-responsive">
        <table class="table">
            <thead class=" text-primary">
            <tr>
                <th>
                    id
                </th>
                <th>
                    Nom
                </th>
                <th>
                    date
                </th>
                <th>
                    like
                </th>
                <th>
                    tag
                </th>
                <th>
                    photo
                </th>
                <th class="text-right">
                    Action
                </th>
            </tr></thead>
            <tbody id="liste">
            {% for data in projects %}
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.date|date("m/d/Y") }}</td>
                    <td>{{ data.heart}}</td>
                    <td>{% for tag in data.tags %} {{ tag.name}} {% endfor %}</td>
                    <td>{{ data.photos|length}}</td>
                    <td class="text-right">
                        <a href="{{ path('Project_zoom',{'id' : data.id}) }}" class="zoom"> <i class="now-ui-icons ui-1_zoom-bold"></i></a>
                        <a href=""> <i class="now-ui-icons ui-1_settings-gear-63"></i></a>
                        <a onclick="UpdatePhoto(this, event);" href="{{ path('Project_update_photos', {'id':data.id} )}}"> <i class="now-ui-icons media-1_camera-compact"></i></a>
                        <a class="delete" onclick="DeleteProject(this, event);" href="{{ path('Project_remove', {'id':data.id}) }}"> <i class="now-ui-icons ui-1_simple-remove"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}



{% block JS %}
    {{ parent() }}
    <script src="{{ asset('dropzone.js') }}"></script>
    <script>
        $(document).ready(function() {
            console.log("ready");

            $(".add_button").click(function (e) {
                e.preventDefault();
                console.log('homepage');
                let href = $(this).attr('href');
                $.ajax({
                    method : "POST",
                    url: href
                }).done(function ($data) {
                    $('.modal-content').html($data);
                    $('#modal').modal();
                })
            })

        });

        function UpdatePhoto($this, e) {
            e.preventDefault();
            console.log('homepage');
            let href = $($this).attr('href');
            $.ajax({
                method : "POST",
                url: href
            }).done(function ($data) {
                $('.modal-content').html($data);
                $('#modal').modal();
            })
        }

        function DeleteProject($this, e) {
            e.preventDefault();
            $.ajax({
                method : 'POST',
                url : $($this).attr('href')
            }).done(function($data){
                if(typeof $data === 'object' && $data.state === 1) {
                    $('#modal-close').trigger('click');
                    console.log("cigit click");
                    $('.modal-content').html('');
               }else{
                   $('.modal-content').html($data);
                   $('#modal').modal();
                   $('.modal-submit').click(function(e){
                       e.preventDefault();
                       $.ajax({
                           method : "POST",
                           url: $(this).data('href'),
                           data : {'confirm': 1},
                       }).done(function ($data) {
                           if(typeof $data === 'object' && $data.state === 1) {
                               $('#modal-close').trigger('click');
                               console.log("cigit prout");
                               $('.modal-content').html('');
                           }else {
                               $('.modal-content').html("Erreur : veuillez recharger la page.");
                           }
                       })
                   })
               }

            });
        }
    </script>
{% endblock %}

